@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,700&display=swap');

:root {
    --main-color: #6edb9a;
    --blue: #4d8e50;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #8cff00;
    --pink-light: #7be08c;
    --cyan-light: #5ae4dd;
    --white: #fff;
    --white-alpha-40: rgba(255,255,255, 0.40);
    --white-alpha-25: rgba(255,255,255, 0.25);
    --backdrop-filter-blur: blur(40px);
    --box-shadow: 0 10px 20px rgb(0 0 0 / 50%)
  }

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
::before,
::after {
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
  }
  h1,h2{
    font-weight: 600;
  }
  h3,h4,h5,h6{
    font-weight: 500;
  }
  
  img{
    max-width: 100%;
    vertical-align: middle;
  }
  
  ul{
    list-style: none;
  }
  

.content{
    background-color:  var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: calc(100vh - 40px);
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter-blur);
    margin: 20px;
  }

.content .title-logo{
    width: 425.62px;
    height: 99.24px;
    left: 61px;
    top: 52px;
    background-color: rgba(255, 255, 255, 0.5);;
    border-radius: 20px;
    margin: 40px;
    text-align: center;
    display: flex;
    box-shadow: var(--box-shadow);
}

.content .menu{
  width: 300px;
  height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 20px;
    right: 120px;
    margin: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.0;
    transition: cubic-bezier(0, 0, 0.82,-0.11) 500ms;
}

/*.content .menu a{
  text-decoration: none;
  margin: 10px;
  width: 50px;
  border-radius: 50%;
  background: #a6dfaa;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  line-height: 50px;

}*/

.content .menu.active{
  opacity: 1.0;
}

.content .title-logo h1{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.toggle{
    width: 80.09px;
    height: 105.15px;
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.toggle span{
  position: absolute;
  width: 50px;
  height: 4px;
  left: 15px;
  background: rgba(255,255,255, 0.5);
  border-radius: 4px;
  transition: 0.5s;
}
.toggle span:nth-child(1){
  transform: translateY(-15px);
  width: 50px;
  left: 15px;
}
.toggle.active span:nth-child(1){
  width: 40px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
}

.toggle span:nth-child(2){
  transform: translateY(15px);
  width: 50px;
  left: 15px;
}
.toggle.active span:nth-child(2){
  width: 40px;
  transform: translateY(0) rotate(315deg);
  transition-delay: 0.25s;
}
.toggle.active span:nth-child(3){
  transform:  translateX(110px);
}
/* Button */
.btn{
  line-height: 1.5;
  background-color: var(--white-alpha-25);
  padding: 10px 28px;
  border-radius: 30px;
  color: var(--main-color);
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid var(--white-alpha-40);
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
  margin: 10px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}
.btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 30px;
  z-index: -1;
  opacity: 0.12;
  transition: width 0.3s ease;
}
.btn:hover::before{
  width: 100%;
}
.btn:hover{
  color: var(--white);
}
.content .footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Sliders */
.content .sliders1 .box { 
  position: relative;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  box-shadow: 15px 15px 20px rgba(0,0,0,0.1);
  width: 200px;
  height: 50px;
} 
 .sliders1{
  display: flex;
  
}

.content .sliders2 .box { 
  position: relative;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  box-shadow: 15px 15px 20px rgba(0,0,0,0.1);
  width: 200px;
  height: 50px;
} 
 .sliders2{
  display: flex;
  
}

.content .sliders3 .box { 
  position: relative;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  box-shadow: 15px 15px 20px rgba(0,0,0,0.1);
  width: 200px;
  height: 50px;
} 
 .sliders3{
  display: flex;
  
}

/* Range thang */

input[type=range].range {
  -webkit-appearance: none;
  background-color: #0000
}

/*progress support*/
input[type=range].range.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type=range].range:focus {
  outline: none;
}

/*webkit*/
input[type=range].range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: #007cf8;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((1em - 1px - 1px) * 0.5,0px) - 2em * 0.5);
}

input[type=range].range::-webkit-slider-runnable-track {
  height: 1em;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

input[type=range].range::-webkit-slider-thumb:hover {
  background: #0061c3;
}

input[type=range].range:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].range::-webkit-slider-thumb:active {
  background: #2f98f9;
}

input[type=range].range:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].range.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#007cf8,#007cf8) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].range.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#0061c3,#0061c3) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].range.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(#2f98f9,#2f98f9) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*mozilla*/
input[type=range].range::-moz-range-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: #007cf8;
  border: none;
  box-shadow: 0 0 2px black;
}

input[type=range].range::-moz-range-track {
  height: max(calc(1em - 1px - 1px),0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

input[type=range].range::-moz-range-thumb:hover {
  background: #0061c3;
}

input[type=range].range:hover::-moz-range-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].range::-moz-range-thumb:active {
  background: #2f98f9;
}

input[type=range].range:active::-moz-range-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].range.slider-progress::-moz-range-track {
  background: linear-gradient(#007cf8,#007cf8) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].range.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#0061c3,#0061c3) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].range.slider-progress:active::-moz-range-track {
  background: linear-gradient(#2f98f9,#2f98f9) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*ms*/
input[type=range].range::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].range::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].range::-ms-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: #007cf8;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].range::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].range::-ms-thumb:hover {
  background: #0061c3;
}

input[type=range].range:hover::-ms-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].range::-ms-thumb:active {
  background: #2f98f9;
}

input[type=range].range:active::-ms-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].range.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px),0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #007cf8;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}

input[type=range].range.slider-progress:hover::-ms-fill-lower {
  background: #0061c3;
  border-color: #9a9a9a;
}

input[type=range].range.slider-progress:active::-ms-fill-lower {
  background: #2f98f9;
  border-color: #c1c1c1;
}
