@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,700&display=swap');

:root {
    --main-color: #6edb9a;
    --blue: #4d8e50;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #8cff00;
    --pink-light: #7be08c;
    --cyan-light: #5ae4dd;
    --white: #fff;
    --white-alpha-40: rgba(255,255,255, 0.40);
    --white-alpha-25: rgba(255,255,255, 0.25);
    --backdrop-filter-blur: blur(20px);
  }

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
::before,
::after {
    box-sizing: border-box;
}
body{
    background: #000;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
  }
  h1,h2{
    font-weight: 600;
  }
  h3,h4,h5,h6{
    font-weight: 500;
  }
  
  img{
    max-width: 100%;
    vertical-align: middle;
  }
  
  ul{
    list-style: none;
  }
  

.content{
    background-color:  var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: 90vh;
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter-blur);
    margin: 20px;
  }

.content .title-logo{
    width: 425.62px;
    height: 99.24px;
    left: 61px;
    top: 52px;
    background-color: #6edb9a;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    display: flex;
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}

.content .title-logo h1{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.toggle{
    width: 120.09px;
    height: 105.15px;
    background-color: #4d8e50;
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 20px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.8);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.toggle span{
  position: absolute;
  width: 90px;
  height: 4px;
  background: #1863ff;
  border-radius: 4px;
  transition: 0.5s;
}
.toggle span:nth-child(1){
  transform: translateY(-15px);
  width: 60px;
  left: 15px;
}
.toggle.active span:nth-child(1){
  width: 40px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
}

.toggle span:nth-child(2){
  transform: translateY(15px);
  width: 75px;
  left: 15px;
}
.toggle.active span:nth-child(2){
  width: 40px;
  transform: translateY(0) rotate(315deg);
  transition-delay: 0.25s;
}
.toggle.active span:nth-child(3){
  transform:  translateX(60px);
}